@import url("href=https://fonts.googleapis.com/css?family=Mukta|Roboto&display=swap");

body {
  background-size: 1440px;
  margin-bottom: 70px;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: white;

}
a{
  text-decoration: none;
  color: white;
}
.nav.ol {
  font-size: 50px;
  opacity: 0.6;

}

nav{
  position: fixed;
  top: 0px;
  left: 1260px;
  width:30px;
  font-size: 30px;

  padding: 20px 30px;

  transition: all 300ms ease;
  line-height: 62px;


background-color:  hsla(200, 60%, 60%, .4);
}

.fade {
  opacity: 0.6;
}

.fade:hover {
  opacity: 1;
}

h1 {
  font-size: 68px;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 50px;
  text-align: center;
  line-height: normal;

}


.hh1 p {
  font-size: 250px;
  margin-left: 400px;
  margin-top: 560px;
  font-weight: bold;
  opacity: 0.6;
}

.hh2 p {
  font-size: 250px;
  margin-left: 500px;
  margin-top: 350px;
  font-weight: bold;
  opacity: 0.6;
}

.hh3 p {
  font-size: 250px;
  margin-left: 850px;
  margin-top: 20px;
  font-weight: bold;
  opacity: 0.6;
}

.hh4 p {
  font-size: 250px;
  margin-left: 690px;
  margin-top:240px;
  font-weight: bold;
  opacity: 0.6;
}

.hh5 p {
  font-size: 250px;
  margin-left: 200px;
  margin-top:255px;
  font-weight: bold;
  opacity: 0.6;
}

.hh6 p {
  font-size: 250px;
  margin-left: 850px;
  margin-top: 130px;
  font-weight: bold;
  opacity: 0.6;
}

.hh7 p {
  font-size: 250px;
  margin-left: 680px;
  margin-top: 300px;
  font-weight: bold;
  opacity: 0.6;
}

.hh8 p {
  font-size: 250px;
  margin-left:220px;
  margin-top: 200px;
  font-weight: bold;
  opacity: 0.6;
}

.hh9 p {
  font-size: 250px;
  margin-left:880px;
  margin-top: 110px;
  font-weight: bold;
  opacity: 0.6;
}

.hh10 p {
  font-size: 250px;
  margin-left: 60px;
  margin-top: 63px;
  font-weight: bold;
  opacity: 0.6;
}


p {
  display: block;
  width: 1500px;
  font-size: 25px;
  line-height: normal;
  display: block;
  width: 450px;
}

.center {
  display: block;
  width: 800px;
  margin: auto;
  margin-top: 240px;
}

h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 420px;
}

.g1 {
  display: block;
  width: 300px;
  margin-left: 710px;
  margin-top: -140px;
}

.g2 {
  display: block;
  width: 400px;
  margin-left: 70px;
  margin-top: -150px;
}

.g3 {
  display: block;
  width: 400px;
  margin-left: 700px;
  margin-top: 22px;
}

.g4 {
  display: block;
  width: 400px;
  margin-left: 700px;
  margin-top: 10px;
}

.g5 {
  display: block;
  width: 400px;
  margin-left: 70px;
  margin-top: 30px;
}

.g6 {
  display: block;
  width: 400px;
  margin-left: 700px;
  margin-top: 10px;
}

.g7 {
  display: block;
  width: 200px;
  margin-left: 700px;
  margin-top: 10px;
}

.g8 {
  display: block;
  width: 550px;
  margin-left: 70px;
  margin-top: 10px;
}

.g9 {
  display: block;
  width: 550px;
  margin-left: 700px;
  margin-top: -30px;
}

.g10 {
  display: block;
  width: 550px;
  margin-left: 70px;
  margin-top: 10px;
}
